  <app-sabw-caesar> </app-sabw-caesar>
  <h1>Harry Potter</h1>
  <p>Harry-Potter-Autorin Joanne K. Rowling wurde mit der Harry-Potter-Heptalogie weltberühmt. Aber nicht nur Ruhm, sondern auch Geld flog ihr ab dem Zeitpunkt der Veröffentlichung massenhaft zu. Zeitweise war sie sogar Milliardärin.</p>
  <h2>Ihr Leben</h2>
  <ul>
   <li><strong>Geboren:</strong> 1965</li>
   <li>Autorin</li>
   <li><strong>weitere Bücher:</strong> Ein plötzlcher Todesfall, wei&szlig;er Tod, der Ruf der Kuckucks, der Seidenspinner und weitere</li>
  </ul>
  <h2>Die Harry-Potter-Bücher</h2>
  <p><u>alle Bücher der Harry-Potter-Reihe:</u></p>
  <ol>
   <li>Harry Potter und der Stein der Weisen</li>
   <li>Harry Potter und die Kammer des Schreckens</li>
   <li>Harry Potter und der Gefangene von Askaban</li>
   <li>Harry Potter und der Feuerkelch</li>
   <li>Harry Potter und der Orden der Ph&ouml;nix</li>
   <li>Harry Potter und der Halbblutprinz</li>
   <li>Harry Potter und die Heiligtümer des Todes</li>
   <li>Harry Potter und das verwunschene Kind (auch als Theaterstück)</li>
  </ol>
  <p><u>alle Bücher der Fantastic-Beasts-Reihe:</u></p>
  <ol>
   <li>Phantastische Tierwesen und wo sie zu finden sind</li>
   <li>Phantastische Tierwesen: Grindelwalds Verbrechen</li>
  </ol>
  <p><u>Begleitbände:</u></p>
  <ul>
    <li>Quidditch im Wandel der Zeiten</li>
    <li>Die Märchen von Beedle dem Barden</li>
    <li>Phantastische Tierwesen und wo sie zu finden sind</li>
</ul>
 