#scheibe {
   width: 300px;
   position: absolute;
 }
 #scheibe2 {
   width: 300px;
   position: absolute;
   transform: rotate(318.5deg);
   transition: all 2s;
 }
 #container {
   height: 300px;
 }